
*{
}
.category{
    font-weight: bold;
    font-size: 16px;
}

.cat_list:hover{
    color:rgb(194, 246, 117);
}

.featured__item__pic{
   border-radius: 5px;
   max-height: 200px;
}


img{
    display: block;
    margin: 17% auto;
    max-width: 200px !important;
    max-height: 200px !important;
}

#shop{
    z-index:100;
    position: absolute;
    top:70%;
    right:45%;
}

.filter_label:hover{
    color:rgb(194, 246, 117);
}

.filter{
    display: inline; 
    padding-right:20px
}

.fil{

    display: inline;
    margin-right:10px;
}

span{
    padding-right: 5px;
}

.overlay{
    max-width:50%;
   margin: 2% auto;
   top:100%;
   left: 50%;
   right: 50%;
 /* background-color:rgb(0, 0, 0); */
    z-index:    1000;
}

.msg{
    display: block;
}

.passed{
    font-weight: bold;
    color:green;
}

.fail{
    font-weight: bold;
    color:rgb(163, 3, 3)
}
  .hide{
    visibility: hidden;
    transition: all .1s ease;
  }
  .show{
    visibility: visible;
    transition: all .1s ease;
  }

  pagination-controls{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    color:green;

  }


  
.high_light:hover{
    cursor: pointer;
	opacity: .7;
}

.product_row{
    margin: -150px 0 0 0 ;
    position: relative;
    left: 28%;
    right:20%;
    max-width: 70%;
}

.featured__item:hover{
    opacity: .7;
}


select{
    width:80%;
    height: 25px ;
   }

.cat_list:hover{
background-color: red !important;
   }

.dropdown{
       display: flex;
       margin: 10px 0;
}
.filter_l{
    margin-left:5px;
}

.price{
    max-width: 50% ;
    display:inline;
}
.update_filter:hover{
    opacity: .6;
}

#reset{
background-color: grey !important;
}
