*{
    word-wrap: break-word !important;
}
.category{
    font-weight: bold;
    font-size: 16px;
}

.cat_list:hover{
    color:rgb(194, 246, 117);
}

img{
    max-width: 100% !important;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

#shop{
    z-index:100;
    position: absolute;
    top:70%;
    right:45%;
}



.filter{
    display: inline; 
    padding-right:20px
}

.fil{

    display: inline;
    margin-right:10px;
}

span{
    padding-right: 5px;
}

a{
    cursor: pointer;
}